<!DOCTYPE html>
<html lang="UTF-8">
<head>
	<meta charset="UTF-8">
	<title>班级</title>
	<link rel="stylesheet" href="../static/css/class.css">
	<link rel="icon" type="image/svg+xml" href="../static/images/icon.ico">
</head>
<body>
	<div>
		<a href="/none" class="back-button"><</a>
		<!-- <p class="big_title">北大附中北医分校消息管理系统</p> -->
		<p class="big_title">{{t_class}}{% if t_class not in t_user %}<span class='outline' style='color: red'>（未连接）</span>{% endif %}</p>
		<hr>
	</div>
	<div class="container">
		<div class="content">
			{% for i in t_data %}
			<span class="time">{{i['time']}}</span>
			{% if i['name'] == t_name %}
			<div class="item item-right">
				{% if i['isread'] == True or i['isread'] == [] %}
				<span class="read">已读</span>
				{% else %}
				<span class="read">未读
				{% if i['isread'] != False %}
				:
				{% for j in i['isread'] %}
				{{j}}
				{% endfor %}
				{% endif %}
				</span>
				{% endif %}
				
				{% if i['state'] != True and i['state'] != [] %}
				<span class="state">未发送成功
				{% if i['state'] != False %}
				:
				{% for j in i['state'] %}
				{{j}}
				{% endfor %}
				{% endif %}
				</span>
				<button class="again">!</button>
				{% endif %}
				
				<div class="bubble" id="{{i['uuid']}}">{{i['content']}}</div>
				<div class="avatar">{{i['name']}}</div>
			</div>
			{% else %}
			<div class="item item-left">
				<div class="avatar">{{i['name']}}</div>
				<div class="bubble" id="{{i['uuid']}}">{{i['content']}}</div>
				
				{% if i['state'] != True and i['state'] != [] %}
				<button class="again">!</button>
				<span class="state">未发送成功
				{% if i['state'] != False %}
				:
				{% for j in i['state'] %}
				{{j}}
				{% endfor %}
				{% endif %}
				</span>
				{% endif %}
				
				{% if i['isread'] == True or i['isread'] == [] %}
				<span class="read">已读</span>
				{% else %}
				<span class="read">未读
				{% if i['isread'] != False %}
				:
				{% for j in i['isread'] %}
				{{j}}
				{% endfor %}
				{% endif %}
				</span>
				{% endif %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="input-area">
			<textarea name="text" id="textarea" placeholder="请输入内容"></textarea>
			<div class="button-area">
				<button id="send-btn" onclick="send()" style="{% if t_name == '访客' %}cursor: no-drop;{% endif %}">发 送</button>
			</div>
		</div>
	</div>
	<div class="loading" style="display: none;">
		<div>
			<img src="../static/images/loading.png">
			<br>
			加载中
		</div>
	</div>
	<div class="loading1" style="display: none;">
		<div>
			<img src="../static/images/loading.png">
			<br>
			连接断开，正在重新连接
		</div>
	</div>
	<button class="back" style="display: none;">撤回</button>
	<button class="delete" style="display: none;">删除</button>
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/socket.io.min.js"></script>
	<script>
		const socket = io({
			reconnection: true,        // 启用自动重连
			reconnectionAttempts: 10,  // 最大重试次数
			reconnectionDelay: 1000,   // 初始重试间隔（毫秒）
			reconnectionDelayMax: 5000,// 最大重试间隔
			randomizationFactor: 0.5,  // 随机化因子（0-1）
			timeout: 20000,            // 连接超时时间
			autoConnect: true          // 自动连接
		});
		let timer
		let class1 = '{{t_class}}';
		let id = ''
		let timer1;
		let loading;
		
		
		// 断开连接事件
		socket.on('disconnect', (reason) => {
			alert('连接断开，可等待自动重连或手动刷新页面')
		});
		// 重连尝试事件
		socket.on('reconnect_attempt', (attemptNumber) => {
			timer1 = setTimeout(function(){$('.loading1').css('display', 'flex')}, 100)
		});
		// 重连成功事件
		socket.on('reconnect', (attemptNumber) => {
			clearTimeout(timer1)
			$('.loading1').css('display', 'none')
		});
		// 错误处理
		socket.on('connect_error', (error) => {
			alert('无法连接')
			clearTimeout(timer1)
			$('.loading1').css('display', 'none')
		});
		$('.content')[0].scrollTo(0, $('.content')[0].scrollHeight)
		function send(){
			{% if t_name == '访客' %}
			alert('访客禁止发送消息')
			return 
			{% endif %}
			let textMsg = $('#textarea').val();
			if(!textMsg){
				$('#textarea')[0].innerHTML = '';
				$('#textarea')[0].focus();
				alert('请输入内容');
				return;
			}
			loading = setTimeout(function(){$('.loading').css('display', 'flex')}, 100)
			socket.emit('send', {
				class: class1,
				content: textMsg
			});
			$('#textarea')[0].value = '';
			$('#textarea')[0].focus();
		}
		function button(div, x, y){
			if ($(div).parent().children('.state').length){
				id = $(div).attr('id')
				$('.delete').css('display', 'block')
				$('.delete').css('left', x)
				$('.delete').css('top', y)
			}
			else{
				if ($(div)[0].innerHTML != '此消息已撤回'){
					$('.back').css('display', 'block')
					$('.back').css('left', x)
					$('.back').css('top', y)
					id = $(div).attr('id')
					{% if t_name == '管理员' %}
					$('.delete').css('display', 'block')
					$('.delete').css('left', x)
					$('.delete').css('top', y+20)
					{% endif %}
				}
				else{
					{% if t_name == '管理员' %}
					id = $(div).attr('id')
					$('.delete').css('display', 'block')
					$('.delete').css('left', x)
					$('.delete').css('top', y)
					{% endif %}
				}
			}
		}
		function back(){
			$('.item-right .bubble').on('contextmenu', function(event) {
				event.preventDefault();
				button(this, event.clientX, event.clientY)
			});
			$('.item-right .bubble').on('touchstart', function(event) {
				event.preventDefault();
				div = this
				var touch = event.originalEvent.touches[0] || event.originalEvent.changedTouches[0];
				timer = setTimeout(function(){button(div, touch.pageX, touch.pageY)}, 500);
			});
			$('.item-right .bubble').on('touchend', function(event) {
				event.preventDefault();
				clearTimeout(timer);
			});
			$('.item-right .bubble').on('touchcancel', function(event) {
				event.preventDefault();
				clearTimeout(timer);
			});
			{% if t_name == '管理员' %}
			$('.item-left .bubble').on('contextmenu', function(event) {
				event.preventDefault();
				button(this, event.clientX, event.clientY)
			});
			$('.item-left .bubble').on('touchstart', function(event) {
				event.preventDefault();
				div = this
				var touch = event.originalEvent.touches[0] || event.originalEvent.changedTouches[0];
				timer = setTimeout(function(){button(div, touch.pageX, touch.pageY)}, 500);
			});
			$('.item-left .bubble').on('touchend', function(event) {
				event.preventDefault();
				clearTimeout(timer);
			});
			$('.item-left .bubble').on('touchcancel', function(event) {
				event.preventDefault();
				clearTimeout(timer);
			});
			{% endif %}
			$('.again').on('click', function(){
				loading = setTimeout(function(){$('.loading').css('display', 'flex')}, 100)
				socket.emit('resend', {
					class: class1,
					uuid: $(this).parent().children('.bubble').attr('id')
				});
			})
		}
		$('textarea').on('keydown', function(event) {
			if (event.key === "Enter") {
				event.preventDefault();
				send()
			}
		});
		back()
		$('.back').on('click', function(){
			loading = setTimeout(function(){$('.loading').css('display', 'flex')}, 100)
			socket.emit('back_data', {
				class: class1,
				uuid: id
			});
		})
		$('.delete').on('click', function(){
			loading = setTimeout(function(){$('.loading').css('display', 'flex')}, 100)
			socket.emit('delete_data', {
				class: class1,
				uuid: id
			});
		})
		$('body').on('click', function(){
			$('.back').css('display', 'none')
			$('.delete').css('display', 'none')
		});
		socket.on('new', (data) => {
			clearTimeout(loading)
			$('.loading').css('display', 'none')
			if (data.class1 !== class1) return;
			$('.content')[0].innerHTML += '<span class="time">' + data.time + '</span>'
			let item = document.createElement('div');
			if (data.name == '{{t_name}}'){
				item.className = 'item item-right';
				item.innerHTML = `<span class="read">${data.isread}</span>`
				if (data.state != ''){
					item.innerHTML += `<span class="state">${data.state}</span><button class="again">!</button>`
				}
				item.innerHTML += `<div class="bubble" id="${data.uuid}">${data.content}</div><div class="avatar">${data.name}</div>`;
			}
			else{
				item.className = 'item item-left';
				item.innerHTML = `<div class="bubble" id="${data.uuid}">${data.content}</div><div class="avatar">${data.name}</div>`
				if (data.state != ''){
					item.innerHTML += `<button class="again">!</button><span class="state">${data.state}</span>`
				}
				item.innerHTML += `<span class="read">${data.isread}</span>`;
			}
			$('.content')[0].appendChild(item);
			$('.content')[0].scrollTo(0, $('.content')[0].scrollHeight)
			back()
		});
		socket.on('back', (data) => {
			clearTimeout(loading)
			$('.loading').css('display', 'none')
			if (data.class1 !== class1) return;
			$('#'+data.uuid)[0].innerHTML = '此消息已撤回'
		});
		socket.on('delete', (data) => {
			clearTimeout(loading)
			$('.loading').css('display', 'none')
			if (data.class1 !== class1) return;
			$('#'+data.uuid).parent()[0].previousElementSibling.outerHTML = ''
			$('#'+data.uuid).parent()[0].outerHTML = ''
		});
		socket.on('update', (data) => {
			if (data.class1 !== class1) return;
			$('#'+data.uuid).parent().children('.read')[0].innerHTML = data.isread
		});
		socket.on('online', (data) => {
			if (data.class !== class1) return;
			if ($('.outline').length) $('.outline')[0].outerHTML += ""
		});
		socket.on('outline', (data) => {
			if (data.class !== class1) return;
			if (!$('.outline').length) $('.big_title')[0].innerHTML += "<span class='outline' style='color: red'>（未连接）</span>"
		});
		$('a').on('click', function(){
			window.parent.postMessage({type: 'close'}, '*');
		})
	</script>
</body>
</html>