<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>更新</title>
	<link rel="stylesheet" href="../static/css/file.css">
	<link rel="icon" type="image/svg+xml" href="../static/images/icon.ico">
</head>
<body>
	<a href="/home">返回</a>
	<h1>文件服务器</h1>
	
	<!-- 文件上传表单 -->
	<form method="post" enctype="multipart/form-data" action="/upload">
		<input type="file" name="file">
		<button type="submit">上传文件</button>
	</form>
	
	<hr>
	
	<!-- 文件列表 -->
	<h2>文件列表</h2>
	<ul>
		{% for file in files %}
		<li>
			<a href="/download/{{ file }}">{{ file }}</a>
		</li>
		{% endfor %}
	</ul>
</body>
</html>
