<!DOCTYPE html>
<html lang="UTF-8">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" href="../static/css/login.css">
	<link rel="icon" type="image/svg+xml" href="../static/images/icon.ico">
</head>
<body>
	<a class='download_button' href="../static/file/MessageIn-Display Setup 1.5.2.exe"><img src="../static/images/download.png" height="23" width="23"></a>
	<p class="big_title">北大附中北医分校消息管理系统</p>
	<hr>
	<form action="/handle" method="post">
		<a href="/login">登录</a>
		<a href="/register">注册</a>
		<br>
		手机号：<input type="tel" name="tel" required style="width: 145px;">
		<br>
		密码：<input type="password" name="password" required style="width: 162px;">
		<br>
		<input type="hidden" name="type" value="登录">
		<input type="submit" value="登录">
	</form>
	{% if t_alert %}
	<script>alert('用户名或密码错误')</script>
	{% endif %}
</body>
</html>