<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>消息发送</title>
</head>
<body>
<link rel="stylesheet" href="../static/css/message.css">

<div class="container">
    <div class="content">

        <div class="item item-center"><span>欢迎使用信息系统</span></div>
    </div>
    <div class="input-area">
        <label for="textarea"></label><textarea name="text" id="textarea"></textarea>
        <div class="button-area">
            <button id="send-btn" onclick="send()">发 送</button>
        </div>
    </div>
</div>
<script src="../static/js/message.js"></script>
</body>
</html>