<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
	<a href="/login">登录</a>
	<a href="/register">注册</a>
	<form action="/handle" method="post">
		用户名：<select name="subject">
			<option value="语文">语文</option>
			<option value="数学‌">数学‌</option>
			<option value="英语‌">英语‌</option>
			<option value="物理">物理</option>
			<option value="化学">化学</option>
			<option value="生物">生物</option>
			<option value="道法">道法</option>
			<option value="历史">历史</option>
			<option value="地理">地理</option>
			<option value="‌体育">‌体育</option>
			<option value="音乐">音乐</option>
			<option value="美术">美术</option>
			<option value="‌信息">‌信息</option>
			<option value="劳技">劳技</option>
		</select>
		<input type="name">
		老师
		<br>
		手机号：<input type="tel" name="tel">
		<br>
		密码：<input type="password" name="password">
		<br>
		管理班级：
		<div>
			<div class="grade">
				<div class="choose">初一</div>
				<!-- .choose是选中样式，别忘了在css里写，如果是蓝色调就是未选中白色，选中蓝色 -->
				<div>初二</div>
				<div>初三</div>
				<div>高一</div>
				<div>高二</div>
				<div>高三</div>
			</div>
			<div class="class">
				<div class="choose">一班</div>
				<div>二班</div>
				<div>三班</div>
				<div>四班</div>
				<div>五班</div>
				<div>六班</div>
				<div>联培班</div>
			</div>
			<div></div>
		</div>
		<input type="hidden" name="type" value="注册">
		<input type="submit">
	</form>
	{% if t_alert %}
	<!-- <script>alert('该用户名已被使用')</script> -->
	{% endif %}
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script>
		t = '初一一班'
		$('.grade').on('click', function(){
			
		})
	</script>
</body>
</html>
