<!DOCTYPE html>
<html lang="UTF-8">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" href="../static/css/register.css">
	<link rel="icon" type="image/svg+xml" href="../static/images/icon.ico">
</head>
<body>
	<a class='download_button' href="../static/file/MessageIn-Display Setup 1.5.2.exe"><img src="../static/images/download.png" height="23" width="23"></a>
	<p class="big_title">北大附中北医分校消息管理系统</p>
	<hr>
	<form action="/handle" method="post">
		<a href="/login">登录</a>
		<a href="/register">注册</a>
		<br>
		用户名：
		<select name="subject">
			<option value="语文">语文</option>
			<option value="数学‌">数学‌</option>
			<option value="英语‌">英语‌</option>
			<option value="物理">物理</option>
			<option value="化学">化学</option>
			<option value="生物">生物</option>
			<option value="政治">政治</option>
			<option value="历史">历史</option>
			<option value="地理">地理</option>
			<option value="‌体育">‌体育</option>
			<option value="音乐">音乐</option>
			<option value="美术">美术</option>
			<option value="‌信息">‌信息</option>
			<option value="劳技">劳技</option>
			<option value="其他">其他</option>
		</select>
		<input type="input" name="name" required maxlength="2" style="width: 30px;">
		老师
		<br>
		手机号：<input type="tel" name="tel" required style="width: 145px;">
		<br>
		密码：<input type="password" name="password" required style="width: 162px;">
		<br>
		管理班级：
		<select class="grade">
			<option>初一</option>
			<option>初二</option>
			<option>初三</option>
			<option>高一</option>
			<option>高二</option>
			<option>高三</option>
			<option>全校</option>
		</select>
		<select class="class">
			<option>一班</option>
			<option>二班</option>
			<option>三班</option>
			<option>四班</option>
			<option>五班</option>
			<option>六班</option>
			<option>通知</option>
		</select>
		<div class="add">十</div>
		<div class="choose"></div>
		<input type="hidden" name="type" value="注册">
		<input type="submit" value="注册">
		<div style="display: none;" class="hidden"></div>
	</form>
	{% if t_alert == '1' %}
	<script>alert('请选择班级（选择后点击加号）')</script>
	{% elif t_alert == '2' %}
	<script>alert('手机号重复')</script>
	{% endif %}
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script>
		l = {}
		classlist = {
			'初一':['一班', '二班', '三班', '四班', '五班', '六班'], 
			'初二':['一班', '二班', '三班', '四班'], 
			'初三':['一班', '二班', '三班', '联培班'], 
			'高一':['一班', '二班', '三班'], 
			'高二':['一班', '二班', '三班', '四班'], 
			'高三':['一班', '二班', '三班', '四班'],
			'全校':[]
		}
		$('.grade').on('change', function(){
			$('.class')[0].innerHTML = ''
			for (i in classlist[$('.grade').val()]){
				$('.class')[0].innerHTML += '<option>' + classlist[$('.grade').val()][i] + '</option>'
			}
			$('.class')[0].innerHTML += '<option>通知</option>'
		})
		$('.add').on('click', function(){
			choose = $('.grade').val() + $('.class').val()
			if (!(choose in l) || l[choose] == 0){
				$('.choose')[0].innerHTML += '<div>' + choose + '<button>×</button></div>'
				$('.hidden')[0].innerHTML += '<input type="hidden" name="class" value="' + choose + '">'
				l[choose] = 1
				$('.choose button').on('click', function(){
					$(this).parent()[0].outerHTML = ''
					choose = $(this).parent()[0].innerText
					choose = choose.substring(0, choose.length - 1)
					l[choose] = 0
					$('input[value="' + choose + '"]')[0].outerHTML = ''
				})
			}
		})
	</script>
</body>
</html>