<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
	<a href="/login">登录</a>
	<a href="/register">注册</a>
	<form action="/handle" method="post">
		用户名：<input type="text" name="nickname">
		密码：<input type="password" name="password">
		管理班级：
		<div>
			<div class="grade">
				<div class="choose">初一</div>
				<!-- .choose是选中样式，别忘了在css里写，如果是蓝色调就是未选中白色，选中蓝色 -->
				<div>初二</div>
				<div>初三</div>
				<div>高一</div>
				<div>高二</div>
				<div>高三</div>
			</div>
			<div class="class">
				<div class="choose">一班</div>
				<div>二班</div>
				<div>三班</div>
				<div>四班</div>
				<div>五班</div>
				<div>六班</div>
				<div>联培班</div>
			</div>
			<div></div>
		</div>
		<input type="hidden" name="type" value="注册">
		<input type="submit">
	</form>
	{% if t_alert %}
	<!-- <script>alert('该用户名已被使用')</script> -->
	{% endif %}
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script>
		t = '初一一班'
		$('.grade').on('click', function(){
			
		})
	</script>
</body>
</html>