a{
	display: inline-block;
	color: gray;
	text-align: center;
	width: 40px;
	height: 40px;
	text-decoration: none;
	margin: 0 5px;
	font-size: 30px;
	border-radius: 100px;
}
a:hover {
	background-color: #008CBA;
	color: white;
}
.big_title{
	text-align: center;
	text-decoration:none;
	font-size: 40px;
	color: #008CBA;
	display: inline;
}
iframe{
	width: 100%;
	height: 78px;
	border: none;
}