body{
	background-color: white;
}
a{
	display: inline-block;
	color: gray;
	text-align: center;
	width: 40px;
	height: 40px;
	text-decoration: none;
	margin: 0 5px;
	font-size: 30px;
	border-radius: 100px;
}
a:hover {
	background-color: #008CBA;
	color: white;
}
.big_title{
	text-align: center;
	text-decoration:none;
	font-size: 40px;
	color: #008CBA;
	display: inline;
}
*{
	padding: 0;
	margin: 0;
}
body{
	height: 100dvh;
	width: 100dvw;
	display: flex;
	flex-direction: column;
}
.container{
	height: 100%;
	border-radius: 4px;
	border: 0.5px solid #e0e0e0;
	background-color: #f5f5f5;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}
.content{
	padding: 20px;
	overflow-y: auto;
	flex: 1;
}
.content:hover::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,0.1);
}
.bubble{
	max-width: 400px;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	color: #000;
	word-wrap:break-word;
	word-break:normal;
}
.item-left .bubble{
	margin-left: 15px;
	background-color: #fff;
}
.item-left .bubble:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #fff;
	border-bottom: 10px solid transparent;
	left: -20px;
}
.item-right .bubble{
	margin-right: 15px;
	background-color: #00d2ff;
}
.item-right .bubble:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid #00d2ff;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	right: -20px;
}
.item{
	display: flex;
	width: 100%;
	align-items: flex-end;
	flex-wrap: wrap;
}
.item.item-right{
	justify-content: flex-end;
}
.item.item-center{
	justify-content: center;
}
.item.item-center span{
	font-size: 12px;
	padding: 2px 4px;
	color: #fff;
	background-color: blue;
	border-radius: 3px;
	-moz-user-select:none; /*火狐*/
	-webkit-user-select:none; /*webkit浏览器*/
	-ms-user-select:none; /*IE10*/
	-khtml-user-select:none; /*早期浏览器*/
	user-select:none;
}

.avatar img{
	width: 42px;
	height: 42px;
	border-radius: 50%;
}
.input-area{
	border-top:0.5px solid #e0e0e0;
	height: 150px;
	display: flex;
	flex-flow: column;
	background-color: #fff;
}
textarea{
	flex: 1;
	padding: 5px;
	font-size: 17px;
	border: none;
	overflow-y: auto;
	overflow-x: hidden;
	outline:none;
	resize:none;
}
.button-area{
	display: flex;
	height: 40px;
	margin-right: 10px;
	line-height: 40px;
	padding: 5px;
	justify-content: flex-end;
}
.button-area button{
	width: 80px;
	border: none;
	outline: none;
	border-radius: 4px;
	float: right;
	cursor: pointer;
}

.avatar{
	line-height: 40px;
}
.back, .delete{
	position: absolute;
	cursor: pointer;
}
.read, .state{
	color: gray;
	margin: 0 5px;
}
.state{
	color: red;
}
.again {
    width: 20px;
    height: 20px;
    border: none;
    background-color: red;
    border-radius: 100px;
    color: white;
    margin-left: -5px;
    margin-right: 5px;
	cursor: pointer;
}
.item-left .again{
    margin-left: 5px;
    margin-right: -5px;
}
.time {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	padding: 5px;
	background-color: #dadada;
	border-radius: 5px;
	margin: 5px 0;
}
.loading{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading div{
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 20px 40px;
	border-radius: 10px;
}
.loading img{
	margin-bottom: 10px;
	animation: myAnim 3s linear infinite;
	width: 100px;
	height: 100px;
}
.loading1{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading1 div{
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 20px 40px;
	border-radius: 10px;
}
.loading1 img{
	margin-bottom: 10px;
	animation: myAnim 3s linear infinite;
	width: 100px;
	height: 100px;
}

@keyframes myAnim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}