a{
	display: inline-block;
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
	border-radius: 8px;
	text-align: center;
	width: 100px;
	text-decoration: none;
}
a:hover {
	background-color: #008CBA;
	color: white;
}
.big_title{
	text-align: center;
	text-decoration:none;
	font-size: 40px;
	color: #008CBA;
	display: inline;
}
.user{
	float: right;
	font-size: 20px;
	margin-top: 10px;
}
.class{
	font-size: 25px;
	border: solid;
	border-radius: 5px;
	height: 50px;
	/* margin: 10px; */
	line-height: 50px;
	padding-left: 20px;
	background-color: #cfe5ec;
	cursor: pointer;
}