body{
    background-image: url("../image/1.jpg");
    background-size: cover;
}
button{
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 8px;
    font-size: 16px;
    text-align: center ;
    position: relative;
    width: 100px;
    cursor: pointer;
    float: right;


}
button:hover {
    background-color: #008CBA;
    color: white;
}
.big_title{
    text-align: center;
    text-decoration:none;
    font-size: 40px;
    color: #008CBA;
    display: inline;
}
input[type=text] {
    background-color:  #008CBA;
    color: white;
}
form{
    position: relative;


    top: 100px;

    background-color: white;
    left: 300px;

    padding: 50px;
    width:250px;


}
.download_button{
    float:right;
    cursor: pointer;

}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=text]:focus {
    background-color: lightblue;
}
input[type=submit] {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 8px;
    font-size: 16px;
    text-align: center ;
    position: relative;
    width: 60px;
    cursor: pointer;



}
input[type=submit]:hover {
    background-color: #008CBA;
    color: white;

}
