body{
	background: url("../images/1.jpg") repeat-x;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 16px);
}
a{
	display: inline-block;
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
	border-radius: 8px;
	font-size: 16px;
	text-align: center;
	width: 100px;
	text-decoration: none;
}
a:hover {
	background-color: #008CBA;
	color: white;
}
.big_title{
	text-align: center;
	text-decoration:none;
	font-size: 40px;
	color: #008CBA;
	display: inline;
}
input[type=text]{
	background-color:  #008CBA;
	color: white;
}
form{
	position: absolute;
	top: 50%;
	background-color: white;
	left: 25%;
	padding: 30px;
	width: 250px;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	border-radius: 20px;
}
.download_button{
	float:right;
}
input {
	margin: 5px 0;
}
input[type='submit'], .visitor{
	background-color: #008cba;
	border: none;
	color: white;
	font-size: 15px;
	border-radius: 5px;
	width: 150px;
	height: 25px;
	cursor: pointer;
	line-height: 25px;
}